@use "../../style.scss" as *;

.header-conteneur {
  display: flex;
  justify-content: space-between;
  background-color: $main-color;
  font-size: 1.5rem;
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
    a {
      text-decoration: none;
      font-weight: bold;
      color: $tertiary-color;
      &:hover {
        text-decoration: underline;
      }
    }
    img {
      width: 40px;
      height: 40px;
    }
  }
}
