@use "../../style.scss" as *;

.tag-conteneur {
  display: flex;
  gap: 5px;
  p {
    background-color: $main-color;
    padding: 8px 22px 8px 22px;
    border-radius: 3px;
    color: $tertiary-color;
    font-size: 1.3rem;
    font-weight: bold;
  }
}

@media (max-width: 680px) {
  .tag-conteneur {
    gap: 4px;
    p {
      padding: 5px 16px 5px 16px;
      font-size: 0.91rem;
    }
  }
}
