@use "../../style.scss" as *;

.main-conteneur {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Roboto", serif;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin: auto;
  .section-title {
    align-self: flex-start;
    font-size: 2.5rem;
    margin-bottom: 45px;
    border-bottom: black 4px solid;
  }
}
