@use "../../style.scss" as *;
body {
  background-color: $main-color;
  .main-conteneur {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: "Roboto", serif;
    color: $text-color;
    section {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: left;
      margin: auto;
      .section-title {
        align-self: center;
        font-size: 3rem;
        margin-bottom: 45px;
      }
    }
  }
}

@media (max-width: 680px) {
  .main-conteneur {
    max-width: 1024px;
    padding: 15px;
  }
}

@media (max-width: 680px) {
  .main-conteneur {
    max-width: 680px;
    padding: 5px;
  }
  section {
    .section-title {
      font-size: 2rem;
      margin-bottom: 35px;
    }
  }
}
